
.env
db.sqlite3
venv
*.log
spotify_debug.log
users\migrations
users\__pycache__
spotify_debug.log
.pyc
*.pdb
*.pyc
__pycache__
*.sqlite3
*.db
*.pyo
*.pyd
*.egg-info
*.egg
*.whl
*.DS_Store
*.db-journal
*.db-wal

